--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

pyvirtualdisplay
stable-baselines3==2.0.0a5
swig
gymnasium
box2d-py
huggingface_sb3
gymnasium[box2d]
moviepy
imageio
imageio-ffmpeg

# Unit 2 requirements (https://raw.githubusercontent.com/huggingface/deep-rl-class/main/notebooks/unit2/requirements-unit2.txt)

pygame
numpy
huggingface_hub
# pickle5 not needed for Python 3.8+
pyyaml>=6.0
# pyglet - install separately: pip install pyglet --index-url https://pypi.org/simple/
tqdm