--index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

pyvirtualdisplay
stable-baselines3==2.0.0a5
swig
gymnasium
box2d-py
huggingface_sb3
gymnasium[box2d]
moviepy
imageio
imageio-ffmpeg
